.top-box {
    background: linear-gradient(to right, rgba(254, 190, 217, 1), rgba(200, 221, 255, 1));
    padding: 10px 0;
    text-align: center;
    width: 100%; 
    margin-top: 0px; 
    z-index: 2;
}

.top-box p {
    margin: 0;
    color: rgba(36, 16, 66, 1);
    font-family: 'MonaSansLight', sans-serif;
    font-size: 12.8px;
    font-weight: 400;
}

.bold-text {
    font-weight: 600;
    font-family: 'MonaSansMedium', sans-serif;
    font-size: 12.8px;
    color: rgba(36, 16, 66, 1);
}

nav {
    margin: 40px 0 10px;
    border-bottom: 1px solid rgba(211, 211, 211, 1); 
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 10px; 
    width: 100%;
    box-sizing: border-box;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-list li {
    margin: 0 15px;
    display: flex;
    align-items: center;
}

.nav-list a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-family: "MonaSansMedium";
    font-weight: 500;
}

.nav-list a:hover {
    text-decoration: underline;
}

.nav-icon {
    width: 12px;
    height: auto;
    margin-left: 8px;
}

.nav-logo {
    width: 24px;
    height: auto;
}

.nav-logo-text {
    font-family: 'Mona Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 8px;
    color: rgba(0, 0, 0, 1);
}

.nav-right {
    display: flex;
    align-items: center;
}

.header-button {
    border-radius: 100px;
    padding: 3px 5px 3px 5px;
    align-items: center;
    background-color: white;
    color: rgba(23, 12, 52, 1);
    font-size: 12.8px;
    border-width: 1px;
    border-color: rgba(23, 12, 52, 1);
    border-style: solid;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: "MonaSansMedium";
    font-weight: 500;
}

.header-button:not(:last-child) {
    margin-right: 30px;
}

.profile-icon {
    margin-left: 4px; 
}
