/* TabBar.css */

.tab-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-button {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  margin: 0 10px;
  border: 1px solid rgba(58, 134, 255, 1);
  background-color: white;
  color: rgba(58, 134, 255, 1);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 100px !important;
}

.tab-button.active {
  border-color: transparent;
  color: rgba(255, 255, 255, 1);
}

.tab-button:not(.active) {
  border-color: rgba(54, 24, 99, 1);
  color: rgba(54, 24, 99, 1);
  border-width: 1px;
}

.tab-icon {
  margin-right: 8px;
  display: flex;
  align-items: center;
}